In [1]:
# import the libraries
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [2]:
# read the data
df = pd.read_csv("https://raw.githubusercontent.com/AdiPersonalWorks/Random/master/student_scores%20-%20student_scores.csv")
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [3]:
df.isna().sum()

Hours     0
Scores    0
dtype: int64

- there is no null values, so we don't need to impute any thing

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 528.0 bytes

In [5]:
df.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [6]:
x = df
y = x.pop("Scores")

In [7]:
seed = 7
# split the data into train and test data
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.15, random_state=seed)

In [8]:
# initialize the model
lin_reg = LinearRegression()

# train the nodel
lin_reg.fit(xtrain, ytrain)

# predict the output for xtest
pred = lin_reg.predict(xtest)

In [9]:
pred

array([52.0066335 , 16.21558872, 59.960199  , 34.11111111])

In [10]:
# scikit learn r2 score method
mean_squared_error(ytest, pred), mean_absolute_error(ytest, pred)
r2_score(ytest, pred)

0.8833377406025319

**the question of the problem**
- what will be the predicted score if a student study 9.25 hrs/day?

In [11]:
lin_reg.predict([[9.25]])

C:\Users\huzyfa\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([93.26575456])